button.btn.btn-default.Ripple-parent.contact-button {
    background-color: black !important;
    padding: 10px 15px;
    border-radius: 10px;
}

.contact-container {
    min-height: 85vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.md-form input[type=text]:focus:not([readonly]) + label {
    color: #31cb97 !important; 
}

.md-form input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #31cb97 !important;
    box-shadow: 0 1px 0 0 #31cb97 !important; 
}

.md-form textarea.md-textarea:focus:not([readonly]) + label {
    color: green !important; 
}

.md-form textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #31cb97 !important;
    box-shadow: 0 1px 0 0 #31cb97 !important; 
}