a.btn-floating.btn.btn-outline-default.Ripple-parent.contact-button {
    background-color: black !important ;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}
.contact-container {
    min-height: 82vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.md-form input[type=text]:focus:not([readonly]) + label {
    color: #31cb97 !important; 

}

.md-form input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #31cb97 !important;
    box-shadow: 0 1px 0 0 #31cb97 !important; 
}

.md-form textarea.md-textarea:focus:not([readonly]) + label {
    color: #31cb97  !important; 
    
}

.md-form textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #31cb97 !important;
    box-shadow: 0 1px 0 0 #31cb97 !important; 
}

.md-form textarea.md-textarea {
    padding: 0.6rem 0 0.4rem 0;
}


.md-form label.active {
    transform: translateY(-15px)translateX(-5px)scale(0.8);
}


.grecaptcha-badge {
    position: relative !important;
    display: block;
}

@media only screen and (min-width: 320px) {

    .contact-container {
        min-height: 75vh;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }   

}


@media only screen and (min-width: 992px) {

    a.btn-floating.btn.btn-outline-default.Ripple-parent.contact-button {
        background-color: black !important ;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
    }
    .contact-container {
        padding-top: 0;
        padding-bottom: 0;
        min-height: 82vh;
        flex-direction: column;
        justify-content: center;
        display: flex;
    }
    
    .md-form input[type=text]:focus:not([readonly]) + label {
        color: #31cb97 !important; 
    
    }
    
    .md-form input[type=text]:focus:not([readonly]) {
        border-bottom: 1px solid #31cb97 !important;
        box-shadow: 0 1px 0 0 #31cb97 !important; 
    }
    
    .md-form textarea.md-textarea:focus:not([readonly]) + label {
        color: #31cb97  !important; 
        
    }
    
    .md-form textarea.md-textarea:focus:not([readonly]) {
        border-bottom: 1px solid #31cb97 !important;
        box-shadow: 0 1px 0 0 #31cb97 !important; 
    }
    
    .md-form textarea.md-textarea {
        padding: 0.6rem 0 0.4rem 0;
    }
    
    
    .md-form label.active {
        transform: translateY(-15px)translateX(-5px)scale(0.8);
    }
    
    
    button.btn.btn-outline-default.Ripple-parent.send-button {
        margin-top: 3rem;
    }
    
    .grecaptcha-badge {
        position: relative !important;
        display: block;
    }
  


} 


@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .contact-container {
        min-height: 90vh;
    }
}




